@layout('layouts.app')

@section('title')
  {{ post.title }}
@endsection

@section('description')
Fci Project :D
@endsection


@section('content')
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <img width="100%" class="" src="/uploads/{{post.image}}" alt="">
      </div>
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ post.description }}
      </div>
    </div>
  </div>
</article>
@endsection
